
@{
    ViewData["Title"] = "个人简历";
}
<div class="text-center jumbotron">
    <div class="form-inline">
        <div class="col-lg-2">姓名：胡朋飞</div>
        <div class="col-lg-10"><a href="~/file/个人简历--胡朋飞.pdf">简历</a></div>
    </div>
    
</div>